{%extends base.html%}
{%block content%}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        #map{
            height:400px;
            width:100%;
        }
    </style>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

   
</head>
<body>
<div id="map"></div> 

<script>
     function initMap(){
        var options ={
            zoom:9,
            center:{lat:42.033360,lng:-88.083405}
        };
        var map = new google.maps.Map(document.getElementById('map'), options);

        addMarker({
            coords:{lat:42.048020,lng:-88.106670}, 
            content:'<h1>Hot Breads Schaumburg</h1><p>1065 W Golf Rd Hoffman Estates, IL 60169</p><br><p>Hours of Operation: 7 Days 10 AM to 10 PM</p><br><p>Phone Number: 847-882-8883</p>'
        });
        addMarker({
            coords:{lat:41.780000,lng:-88.187050},
            content:'<h1>Hot Breads Naperville </h1><p>1603 N. Aurora Rd, Ste. 113 Naperville, IL 60563</p><br><p>Hours of Operation: 7 Days 10 AM to 10 PM</p><br><p>Phone Number: 630-369-7482</p>'
        });
        addMarker({
            coords:{lat:42.123210,lng:-87.936280},
            content:'<h1>Hot Breads Prospect Heights</h1><p>1201D N. Elmhurst Rd Prospect Heights, IL 60070</p><br><p>Hours of Operation: 7 Days 10 AM to 10 PM</p><br><p>Phone Number: 847-947-8253</p>'
        });

        function addMarker(props) {
            console.log('im runin');
            console.log(props.coords);
            var marker = new google.maps.Marker({
            position:props.coords,
            map:map
        });
            var infoWindow = new google.maps.InfoWindow({
                content:props.content
            });
            marker.addListener('click', function(){
                infoWindow.open(map, marker);
            });
        }

    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBdGZWcX8NeOm5jDClKiQuaLxwCV128Wu8&callback=initMap"
        async defer></script>
</body>
{%endblock content%}
    <!-- <h1>Restaurants</h1>
    {%for c in companies%}
        {%if c.shelter_or_restaurant == 'Restaurant'%}
            <p>{{c.company_name}}</p>
            <p>{{c.address}}</p>
            <p>{{c.email}}</p>
            
        {%endif%}
    {%endfor%}
    <h1>Shelters</h1>
    {%for d in companies%}
        {%if d.shelter_or_restaurant == 'Shelter'%}
            <p>{{d.company_name}}</p>
            <p>{{d.address}}</p>
            <p>{{d.email}}</p>
            <script type ='text/javascript'>
                var company_name = "{{d.company_name}}"
                var address = "{{d.address}}"
                var email = "{{d.email}}"
            </script>
        {%endif%}
    {%endfor%} -->
