{% extends 'base.html' %}
{% block body %}
<style>
  body{
    background-color:rgb(255, 123, 123) !important;
  }
  p{
    text-align:center;
  }
  button{
    /*Change the width as much as you like, but make sure 
    margin-left and margin-right + width = 100%*/
    width:10%;
    margin-left:45%;
    margin-right:45%;
    background-color:rgb(255, 123, 123);
    border: 2px solid black;
    border-radius: 5px;
}
form{
 
}
</style>
<form method="post">
  {% csrf_token %}
  {% for field in form %}
    <p>
      {{ field.label_tag }}<br>
      {{ field }}
      {% if field.help_text %}
        <small style="color: grey">{{ field.help_text }}</small>
      {% endif %}
      {% for error in field.errors %}
        <p style="color: red">{{ error }}</p>
      {% endfor %}
    </p>
  {% endfor %}
  <button type="submit">Sign up</button>
</form>
{% endblock %}